*{
    font-family: Times, monospace, serif;
}
html{
    font-size: 16px;
}
h1{
    /* font-size: 32px; */
    font-size: 2rem; /*16x2*/
    color:blue;
}
p{
    /* font-size: 16px; */
    font-size: 2rem; /*16x2*/
    text-align: center; /*가운데 정렬*/
    color:darkblue
}
div{
    /* border: 2px solid gold; 한번에 할수도 나눠서 할수도 있다*/
    border-color: gold;
    border-width: 2px;
    border-style: solid;
    /* display: none; 안보이게 하기*/

    padding-top: 10px; /*내부 여백 추가*/
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 10px 20px 30px 40px;(top right bottom left) 이렇게도 가능*/
    
    margin-top: 20px;/*외부 여백 추가*/
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    /* margin: 10px 20px 30px 40px;(top right bottom left) 이렇게도 가능*/

    width: 800px;
    height: 600px;
    
    /* box-sizing: content-box; 기본값: 박스크기=너비높이+여백*/
    box-sizing: border-box;/*박스크기=너비높이*/

    /* background: cornsilk no-repeat url(./kyungho.jpg); 이렇게 해도 된다*/
    background-color: cornsilk;
    background-image: url(./kyungho.jpg);
    background-repeat: no-repeat; /*이미지 반복X*/
    background-position: center top; /*중앙 위 정렬*/
    background-size: 750px 550px;
    /* background-size: cover; 이미지 비율이 깨지지 않는 선에서 최대사이즈*/
    /* background-size: contain; 이미지가 찌그러지거나 잘리지 않는선에서 최대사이즈*/
}
span{
    font-size: 4em; /*상위태그의 4배*/
    display:inline-block;
    width:100px; height:100px; /*크기지정하려면 인라인요소는 inline-block 필요*/
}

