.item{
    width:100px; height:100px;
    background-color: greenyellow;
}
.item2{
    width:400px; height:100px;
    background-color: hotpink;
}
.container{
    width:500px; height:500px;
    border: 1px black solid;
    display:flex; /*본인방향으로 요소 배치(기본:가로)*/
    flex-direction: row; /*기본값*/
    justify-content:space-around; /*around between evenly*/
    align-items:flex-start;
    flex-wrap: wrap; /*줄넘김 허용*/
}
.self{
    align-self: flex-end; /*부모속성을 받지 않고 따로 처리할때*/
}
[class*="t"]{ /*t를 포함*/
    color:darkorange;
}
[class$="xt"]{ /*xt로 끝나는*/
    color:darkorange;
}
[id^="uni"]{ /*uni로 시작하는*/
    color: blue;
}

body span{ /*body 안의 span*/
    color: red;
}
body > span{ /*span이 body의 바로 아래단계에 있지 않기 때문에 안됨*/
    color: peru;
}
h1 ~ p{ /*h1뒤에 p*/
    background-color: powderblue;
}
h1 + p{ /*h1뒤에 바로 뒤따르는 p*/
    background-color:silver
}
.text + p{ /*text클래스 뒤에 바로 뒤따르는 p*/
    background-color: yellow;
}